body {
    background: black;
    font-family: "Permanent Marker", cursive;
  }
  
  h3 {
    font-size: 1.2em;
  }
  
  /* header */
  .topnav {
    overflow: hidden;
    background-color: #000000;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #e91e63;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
  
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
  
  /* about us */
  .about-us {
    position: relative;
    padding: 30px 100px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us .info {
    width: 50%;
    margin: 20px;
  }
  
  .about-us .info h1 {
    font-weight: 200;
    color: white;
  }
  
  .about-us .info p {
    max-width: 500px;
    text-align: justify;
    color: white;
  }
  
  .about-us .info a {
    display: inline-block;
    background-color: #fa8305;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }
  
  .about-us .info a:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  }
  
  #slider-container {
    height: 350px;
    width: 50%;
    /* position: relative; */
  }
  
  #slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* why buy  */
  .choosebuy {
    padding: 50px 0;
    color: white;
  }
  
  .choosebuy h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .choosebuy-items {
    display: flex;
    gap: 20px;
  }
  
  .choosebuy-item {
    width: 200px;
    height: 300px;
    text-align: center;
    background-color: #1c140f;
    padding: 30px 20px;
    border-radius: 20px;
    margin: 0 auto;
  }
  
  .choosebuy-item .text1 {
    background-color: #b000dc;
    border-radius: 20px;
  }
  
  .choosebuy-item .text2 {
    background-color: #dc4200;
    border-radius: 20px;
  }
  
  .choosebuy-item .text3 {
    background-color: #00dc8d;
    border-radius: 20px;
  }
  
  .choosebuy-item .text4 {
    background-color: #2351f5;
    border-radius: 20px;
  }
  
  .featuring {
    color: white;
    background-color: #1c140f;
    padding: 30px 0px;
  }
  
  .products-label {
    display: flex;
    justify-content: center;
  }
  
  .product-intro {
    display: flex;
  }
  
  .product-intro img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    color: white;
  }
  
  .team {
    display: flex;
  
    margin-top: 30px;
    /* gap: 20; */
  }
  
  .member {
    transition: 300ms ease-in-out;
    text-align: center;
    padding: 10px;
    background-color: #1c140f;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 2px 2px #ccc;
  }
  
  .member + .member {
    margin-left: -10%;
  }
  
  .member:hover {
    transform: rotate(-6deg);
  }
  
  .member:hover ~ .member {
    z-index: 1;
    translate: 60px;
  }
  
  .member img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .member h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .member p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  /* Footer */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  footer {
    background-color: #000000;
    padding: 70px 0;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    border-bottom: 2px solid #e91e63;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  span {
    color: #bbbbbb;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.25s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #000000;
    background-color: #ffffff;
  }
  
  @media screen and (max-width: 640px) {
    .about-us {
      flex-direction: column;
      padding: 30px 30px;
    }
    .about-us .info {
      width: 100%;
    }
  
    #slider-container {
      width: 100vw;
    }
  
    .choosebuy-items {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0 20px;
    }
  
    .choosebuy-item {
      width: auto;
      height: auto;
      text-align: center;
      background-color: #1c140f;
      padding: 30px 20px;
      border-radius: 20px;
      margin: 0 auto;
    }
  
    .product-intro {
      flex-direction: column;
      align-items: center;
    }
  
    .product-intro .intro-text {
      text-align: justify;
    }
  
    .team {
      flex-direction: column;
      gap: 40px 0;
    }
  
    .member + .member {
      margin-left: 0;
    }
  
    .member:hover ~ .member {
      translate: 0;
    }
  }
  